@model AquaG.TasksMVC.ViewModels.ProjectModel

@{
    ViewData["Title"] = "Удаление проекта";
}
<h5>Удаление проекта</h5>
<a asp-action="Index" asp-route-id="@Model.Id">Вернуться</a>

<p>Хотите удалить проект?</p>
<div class="text-danger" asp-validation-summary="All"></div>
<hr>
    <dl class="row">
        <dt class = "col-sm-2">@Model.Caption</dt>
        <dd class = "col-sm-10">@Model.Description</dd>
    </dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Удалить"/>
</form>


