@model AquaG.TasksMVC.ViewModels.UserAllViewModel

@{
    ViewData["Title"] = "Задачи по проекту";
}

<h5>Проект: @Model.Projects.First().Caption</h5>
<div>
    <a asp-controller="Project" asp-action="Index" asp-route-id="">К списку</a>
</div>


<div>
    <a asp-controller="Project" asp-action="Delete" asp-route-id="@Model.Projects.First().Id">Удалить проект</a>
</div>

<div>
    <a asp-controller="Project" asp-action="Edit" asp-route-id="@Model.Projects.First().Id">Редактировать проект</a>
</div>
<br>

<table>
@await Html.PartialAsync(@"/Views/Task/_TaskList.cshtml", Model)
</table>


