@using AquaG.TasksMVC.ViewModels
@model AquaG.TasksMVC.ViewModels.UserAllViewModel

@{
    ViewData["Title"] = "Задачи по проекту";
    ProjectModel project = Model.Projects.FirstOrDefault();
}

<h5>@project.Caption</h5>

<div>
    <a asp-controller="Project" asp-action="Index" asp-route-id="">К списку</a>
</div>

<div>
    <a asp-controller="Project" asp-action="Edit" asp-route-id="@project.Id">Редактировать проект</a>
</div>
<br>
<div>
        <a href="/Task/Edit?ProjectId=@project.Id">Новая задача</a>
</div>
<br>
<table>
    @await Html.PartialAsync(@"/Views/Task/_TaskList.cshtml", new TaskListPartialModel(){ProjectId=project.Id,Tasks = Model.Tasks})

    @if (Model.TasksCompleted != null && Model.TasksCompleted.Count != 0)
    {
        <tr><td colspan="2" align="left">Закрытые задачи</td></tr>
        @await Html.PartialAsync(@"/Views/Task/_TaskList.cshtml", new TaskListPartialModel(){ProjectId=project.Id, Tasks = Model.TasksCompleted})
    }
</table>


