@model AquaG.TasksMVC.ViewModels.ProjectModel
@{
    ViewData["Title"] = "Редактирование деталей проекта";
}

<div>
    <a asp-action="Index">К списку</a>
</div>
<div>
    <a asp-controller="Project" asp-action="Delete" asp-route-id="@Model.Id">Удалить проект</a>
</div>


<h4>@ViewData["Title"] <b>@Model.Caption</b></h4>
<hr />
<div class="row">
    <div class="col-md-4">
       <div asp-validation-summary="All" class="text-danger">
    </div>
        <form asp-action="Edit">
           <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Caption" class="control-label"></label>
                <input asp-for="Caption" class="form-control" />
                <span asp-validation-for="Caption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
