@model AquaG.TasksMVC.ViewModels.UserAllViewModel

@{
    ViewData["Title"] = "Список проектов и задач";
}
<h5>Входящие задачи</h5>


@{
    if (Model.Tasks.Count() > 0)
    {
        await Html.RenderPartialAsync("/Views/Task/_TaskList.cshtml", Model.Tasks);
}
    else
    {
        @:<br><br><br><br><br>
    }
}
<a asp-controller="Task" asp-action="Edit">Новая задача</a>
<hr>

<h5>Проекты</h5>
<table width="100%">
    @foreach (var item in Model.Projects)
    {
        <tr>
            <td align="left">
                <a asp-action="Index" asp-route-id="@item.Id">@item.Caption</a>
                <hr>
            </td>
            <td align="right">
                @item.NumberOfTasks задач
                <hr>
            </td>
        </tr>
    }
    <tr><td colspan="2" align="right"><a asp-action="Edit">Новый проект</a></td></tr>
</table>


