@using AquaG.TasksMVC.ViewModels
@model AquaG.TasksMVC.ViewModels.UserAllViewModel

@{
    ViewData["Title"] = "Проекты и задачи";
}
<table>
    <tr><td colspan="2" align="left">
        <form asp-controller="Task" asp-action="Edit" asp-antiforgery="true">
                <input id="Caption" name="Caption" class="form-control" />
                <input type="submit" value="Новая задача" class="btn btn-primary" />
        </form>
     </td></tr>

    <tr>
        <td align="left"><h5>Входящие</h5></td>
        <td align="left">
        @if (Model.IsOneProjectDetails)
        {
            <a href="/Task/Edit?ProjectId=@Model.Projects.FirstOrDefault().Id" .ToString();}">Новая задача</a>
        }
        else
        {
            <a href="/Task/Edit">Новая задача</a>
        }
        </td>
    </tr>

    @await Html.PartialAsync(@"/Views/Task/_TaskList.cshtml", new TaskListPartialModel(){ProjectId=null,Tasks = Model.Tasks})

    <tr>
        <td align="left"><h5>Проекты</h5></td>
        <td align="right"><a asp-action="Edit">Новый проект</a></td>
    </tr>

    @foreach (var item in Model.Projects)
    {
        <tr>
            <td align="left">
                <a asp-action="Index" asp-route-id="@item.Id">@item.Caption</a>
                <hr>
            </td>
            <td align="right">
                @if (@item.NumberOfTasks > 0)
                {
                    @:задач: @item.NumberOfTasks
                }
                else
                {
                    @: &nbsp;
                }
                <hr>
            </td>
        </tr>
    }
</table>



