@using AquaG.TasksMVC.ViewModels
@model AquaG.TasksMVC.ViewModels.UserAllViewModel

@{
    ViewData["Title"] = "Проекты и задачи";
}
<table>
    <tr><td colspan="2" align="left"><h5>Входящие задачи</h5></td></tr>
    @await Html.PartialAsync(@"/Views/Task/_TaskList.cshtml", new UserAllViewModel {Projects=null,Tasks=Model.Tasks})

    <tr><td colspan="2" align="left"><br><br><h5>Проекты</h5></td></tr>

    @foreach (var item in Model.Projects)
    {
        <tr>
            <td align="left">
                <a asp-action="Index" asp-route-id="@item.Id">@item.Caption</a>
                <hr>
            </td>
            <td align="right">
                @if (@item.NumberOfTasks > 0)
                {
                    @:задач: @item.NumberOfTasks
                }
                else
                {
                    @: &nbsp;
                }
                <hr>
            </td>
        </tr>
    }
    <tr><td colspan="2" align="right"><a asp-action="Edit">Новый проект</a></td></tr>
</table>



