@using AquaG.TasksMVC.ViewModels
@model AquaG.TasksMVC.ViewModels.TaskListPartialModel

@foreach (TaskModel item in Model.Tasks)
{
    <tr>
        <td align="left">
            @if (Model.ProjectId !=null)
            {
                <a href="/Task/Edit/@item.Id?ProjectId=@Model.ProjectId">@item.Caption</a>
            }
            else
            {
                <a href="/Task/Edit/@item.Id">@item.Caption</a>
            }
            <br>
            @if (item.EndDate != null)
            {
                @item.EndDate.ToTextHtml()
            }
            <hr>
        </td>
        <td align="right">&nbsp;&nbsp;
            @if (!item.IsCompleted)
            {
                @if (Model.ProjectId !=null)
                {
                    <a href="/Task/Complete/@item.Id?ProjectId=@Model.ProjectId">Завершить</a>
                }
                else
                {
                    <a href="/Task/Complete/@item.Id">Завершить</a>
                }
            }
            <br>&nbsp;<hr>
        </td>
    </tr>
}

