@using AquaG.TasksMVC.ViewModels
@model AquaG.TasksMVC.ViewModels.UserAllViewModel

@foreach (TaskModel item in Model.Tasks)
{
    <tr>
        <td align="left">
            @if (Model.Projects != null && Model.Projects.Count != 0)
            {
                <a href="/Task/Edit/@item.Id?ProjectId=@Model.Projects.First().Id" .ToString();}">@item.Caption</a>
                <br>
                @if (!item.IsCompleted)
                {
                    <a href="/Task/Complete/@item.Id?ProjectId=@Model.Projects.First().Id" .ToString();}">Завершить</a>
                }

            }
            else
            {
                <a href="/Task/Edit/@item.Id">@item.Caption</a>
                <br>
                @if (!item.IsCompleted)
                {
                    <a href="/Task/Complete/@item.Id">Завершить</a>
                }
            }
            <hr>
        </td>
        <td align="right">
            @if (item.IsCompleted)
            {
                @:Завершена
            }
            @if (item.EndDate != null)
            {
                @item.EndDate?.ToShortDateString()
                @:&nbsp;
                @item.EndDate?.ToShortTimeString()
            }

        </td>
    </tr>
}
<tr>
    <td colspan="2" align="right">
        @if (Model.Projects != null && Model.Projects.Count != 0)
        {
            <a href="/Task/Edit?ProjectId=@Model.Projects.FirstOrDefault().Id" .ToString();}">Новая задача</a>
        }
        else
        {
            <a href="/Task/Edit">Новая задача</a>
        }
    </td>
</tr>



