@model AquaG.TasksMVC.ViewModels.TaskModel

@{
    ViewData["Title"] = "Редактирование";
}

<h5>Редактирование задачи</h5>
<hr>

<div>
    <a asp-controller="Project" asp-action="Index" asp-route-id="@Model.ProjectId">Вернуться к списку</a>
</div>

<div>
    <a asp-controller="Task" asp-action="Delete" asp-route-ProjectID="@Model.ProjectId" asp-route-id="@Model.Id">Удалить задачу</a>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Task" asp-action="Edit" asp-route-ProjectID="@Model.ProjectId" >
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ProjectId" />
            <div class="form-group">
                <label asp-for="Caption" class="control-label"></label>
                <input asp-for="Caption" class="form-control" />
                <span asp-validation-for="Caption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input type="datetime" asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input type="datetime" asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
