@{
    ViewData["Title"] = "Начальная страница";
}


<style type="text/css">
    TABLE {
    }

    TR {
        border-block-width: thin;
    }

    TD {
        background: white; /* Цвет фона ячеек */
        border: dashed;
        border-block-width: thin;
    }
</style>

        <div class="text-center">
            <h4>Система простейшего Таск-менеджера</h4>
            <p>Проекты, задачи, статусы.
            <br>Для работы нужно <a asp-area="" asp-controller="Account" asp-action="Login">авторизоваться</a> или <a asp-area="" asp-controller="Account" asp-action="Register">зарегистрироваться</a>.
            </p>
        </div>

